.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.card {
  color: darkblue;
  background-color: #eee;
  padding: 1rem;
  box-shadow: 0 0 5px #333;
  font-size: 2rem;
  width: 150px;
  height: 200px;
  line-height: 1rem;
  margin: 10px;
  border-radius: 5px;
}


.firstName {
  font-size: 1.3rem;
}

button {
  font-size: 1rem;
  width: 75px;
}

