nav ul {
  list-style: none; 
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

nav ul li {
  margin: 0;
  padding: 0 15px;
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #161616;
}

nav ul li a.active {
  color: #535bf2;
  text-transform: uppercase;
}
