main {
  margin: 0 auto;
  max-width: 1400px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 3rem;
  background-color: #252974;
  position: sticky;
}

h1 a {
  text-decoration: none;
  color: white;
}

h2 {
  text-align: center;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  flex-direction: column;
  line-height: 0.01em;
  margin: 10px;
}

.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

p {
  font-size: 1rem;
}